@import "tailwindcss";
@import "@heroui/styles";

.loading-bar{
    width:40%;
    animation:loadingBar 1.4s ease-in-out infinite;
}

@keyframes loadingBar{

    0%{
        transform:translateX(-120%);
    }

    50%{
        transform:translateX(80%);
    }

    100%{
        transform:translateX(260%);
    }

}